

section {
    margin: 0em;
    padding: 10%;
    background-color: rgba(255, 248, 231, 1);
    border: solid;
    border-width: 0.02em;
}

figure {
    width: 100%;
    padding: 5%;
    border: solid;
    border-width: 0.02em;
}

img {
    width: 90%;
    border: solid;
    border-width: 0.02em;
}

p {
    position: absolute;
    top: 90%;
    left: 20%;
    width: 50%;
    line-height: 150%;
    outline: none;
    border: none;
    border-width: 0.02em;
    border-color: rgba(255, 255, 255, 0.35);
    background-color: rgba(155, 125, 125, 0.15);
    font-family: "Marker Felt", "Gill Sans Extrabold", "Zapfino", sans-serif;
    color: rgba(245, 230, 230, 1);
    text-align: center;
}

p.page1 {
    font-weight: 500;
    font-size: 64px;
    color: rgba(185, 135, 175, 1);
}

p.page2#one {
    float: left;
    top: 25%;
    padding-top: 1.5%;
    margin-left: -5%;
    width: 15%;
    height: 45%;
}

p.page2#two {
    float: right;
    top: 25%;
    padding-top: 1.5%;
    margin-left: 43%;
    width: 15%;
    height: 65%;
}

p.page3#one {
    float: left;
    top: 25%;
    padding-top: 1.5%;
    margin-left: -5%;
    width: 15%;
    height: 72%;
}

p.page3#two {
    float: right;
    top: 25%;
    padding-top: 1.5%;
    margin-left: 43%;
    width: 15%;
    height: 30%;
}

p.page4#one {
    float: left;
    top: 85%;
    margin-left: -5%;
    width: 35%
}

p.page4#two {
    float: right;
    top: 35%;
    margin-left: 40%;
    width: 15%;
    font-size: 150%;
}

nav {
    margin: 2em;
    width: 75%;
    overflow: auto;
    border: solid;
    border-width: 0.02em;
}

a {
    width: 10em;
}

#left {
    float: left;
}

#centre {
    margin-left: 100px;
}

#right {
    float: right;
}