

section {
    margin: 0em;
    padding: 5em;
    background-color: rgba(255, 248, 231, 1);
}

img {
    width: 45em;
    margin: 2em;
}

figcaption {
    //position: absolute;
    //top: 35em;
    //left: 14em;
    width: 35em;
    margin-left: 2em;
    border: solid;
    border-width: 0.05em;
    //color: darkred;
    background-color: rgba(200, 155, 200, 0.5);
}

div {
    margin-left: 2em;
    width: 35em;
    //border: solid;
}

a {
    width: 10em;
}

#left {
    position: absolute;
    top: 2em;
    margin-left: 10em;
}

#centre {
    position: absolute;
    top: 2em;
    float: left;
    margin-left: 25em;    
}

#right {
    position: absolute;
    top: 2em;
    float: left;
    margin-left: 35em;    
}